body {
	margin: 0;
	padding: 0;
}

header {
	/*background: url(../img/1.jpg);*/
	height: 700px;
	width: 100%;
	background-size: 100%;
}

.lang-nav {
	margin: 2% 0% 0 80%;
	position: absolute;
}

.lang-nav a {
	font-size: 1em;
	color: #111;
	text-decoration: none;
	border-bottom: 1px solid green;
	padding: 10px 10px;
}

.lang-nav .active {
	font-size: 1em;
	color: #666;
	border-bottom: 1px solid #0a0; 
}

.logo {
	margin: 20% 0 0 46%;
	position: absolute;
}

.info {
	position: absolute;
	margin: 25% 32% 0 32%
}

/*---------------main--------------*/

.main-nav ul {
	border-top: 1px solid #0a0;
	border-bottom: 1px solid #0a0;
}

.main-nav li {
	display: inline-block;
	text-decoration: none;
	padding:  20px 0;
	border-left: 3px double #0a0;
}

.main-nav a {
	text-decoration: none;
	color: black;
	padding: 10px 60px;
}

